<div class="container">
  <div class="index_title">
    <h2>配送先編集</h2>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div>郵便番号(ハイフンなし)</div>
      <div>住所</div>
      <div>宛名</div>
    </div>
    <div class="col-lg-5 ad_form">
      <%= form_with model: @shipping_address, url:'shipping_address/update' do |f| %>
       <div><%= f.text_field :postal_code, placeholder: "000000" %></div>
       <div><%= f.text_field :address, placeholder: "東京都渋⾕区代々⽊神園町0-0", :size => 5*10 %></div>
       <div><%= f.text_field :address_name, placeholder: "令和道子" %></div>
    </div>
    <div class="col-lg-4">
      <div colfan="1"></div>
      <div colfan="1"></div>
      <div><%= f.submit "新規登録", class: "btn btn-primary" %></div>
      <% end %>
    </div>
  </div>
</div>